div nav{
    padding: 20px 0px;
    text-align: center;
    background-color: rgb(62, 62, 77);
}
a{
    color: blanchedalmond;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 23px;
}

.search{
    align-items: flex-end;
}